.normal {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 300px;
}
.normal :global(.video-js) {
  width: 100%;
  min-height: 300px;

}
.normal :global(.video-js) {
  width: 100%;
}
